services:
  db:
    container_name: mysql_container
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: gaussian
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql

