services:
  db:
    container_name: postgres_container
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root123
      POSTGRES_DB: gaussian
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data/

